/*=============================================
	#Articles
=============================================*/

/**
*	Here are the the project articles
**/
//// Articles -
// Backgrounds
$article-bg: #145EA6;

article {
  padding: 14px;
  margin-top: 40px;
  background: $article-bg;
  box-shadow: 4px 4px 8px -4px darken($article-bg, 60%);
  color: #fff;
}
