/* ============================================
	#Navigation
=============================================*/


/**
*
*	The main project navigation
*
*	Used a hack for vertical align
**/


@mixin navbar() {
  ul {
    list-style: none;
  }

  li {
    display: inline;
    margin-left: 10px;
  }

  a {
    transition: all 0.2s ease-in-out;
    text-decoration: none;


    &:hover {

    }
  }
}
