//========================================================
//	#0.4.0 Global Variabless
//========================================================

//// Automation variables
// logo height (this sets nav alignment)
  $logo-height: 80px;


//// Project Global
//------------------------------------

  //  General containers
  $header-bg: $outerSpace;
  $header-borderBot: $towerGray;

  $mainContent-bg: $white;

  $footer-bg: $outerSpace;
  $footer-text: $caribbeanGreen;
  $footer-borderTop: $towerGray;

  //  Header elements
  $title-color: $caribbeanGreen;
  $nav-links-color: $caribbeanGreen;
  $nav-links-hover: $white;

  //  Main container elements
  $info_box-color: $outerSpace;

  // Define the sticky footer height
    $footer__sticky--height: 142px;

  $base-font-size: 16px;
  $base-line-height: 20px;
  $base-font-family: sans-serif !default;

//// Base style elements (default)
//-------------------------------------
// Border Radis
  $border-radius-default: 4px;  			// Border Radius default

// Input Placeholder
  $placeholder-color-default: $black; // Input placeholder color
  $article-shadow-default: 0px 2.5px 8px -3px #000;

//// Css routes
//-------------------------------------
//// Fonts
  $font_path: "fonts";


//// Images
  $image_path: "dev/img";
