/* =============================================
	#Heading elements
============================================= */

//// Heading sizes
//-------------------------------------
$font-size-h1: em-calc(32px);
$font-size-h2: em-calc(24px);
$font-size-h3: em-calc(19px);
$font-size-h4: em-calc(16px);
$font-size-h5: em-calc(13px);
$font-size-h6: em-calc(11px);

h1 {
   margin: 0;
   line-height: em-calc(18);
   font: {
      size: $font-size-h1;
      family: inherit;
   }
}

h2 {
   line-height: em-calc(18);
   font: {
      size: $font-size-h2;
      family: inherit;
   }
}

h3 {
   line-height: em-calc(18);
   font: {
      size: $font-size-h3;
      family: inherit;
   }
}

h4 {
   line-height: em-calc(18);
   font: {
      size: $font-size-h4;
      family: inherit;
   }
}

h5 {
   line-height: em-calc(18);
   font: {
      size: $font-size-h5;
      family: inherit;
   }
}

h6 {
   line-height: em-calc(18);
   font: {
      size: $font-size-h6;
      family: inherit;
   }
}
