/* ======================================================
	Info Box(Jumbotron)
====================================================== */
$jumbotron-bg: black;
$text-align: center;
@mixin jumbotron($jumbotron-width, $jumbotron-height, $text-align) {
  // this is an awesome technique
  @include ghostCentering;

  display: block;
  position: relative;
  width: $jumbotron-width;
  height: $jumbotron-height;

  padding: 10px;
  background: $jumbotron-bg;
  text-align: $text-align;
}
