/*=============================================
	#Snippets
=============================================*/
/**
*	Here are the the project code snippets
**/



.codeSnippet {
  background-color: #000000;
  color: green;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 40px 0 0 0;

  pre {
    width: 100%;
  }

  code {
    font-family: Courier, 'New Courier', monospace;
    font-size: 14px;
  }
}
