/*=============================================
	#Titles
=============================================*/
/**
*	Here are the the project title atoms
**/


.article-title {
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-family: sans-serif;
  border-bottom: 2px solid;
}

.content-title {
  margin-bottom: 40px;
  font-family: sans-serif;
}

.aside-title {
  margin-bottom: 20px;
  font-family: sans-serif;
}
