//========================================================
//	#Project Colors 
//========================================================

$outerSpace: #323c3c;
$towerGray: #aabebe;
$caribbeanGreen: #00d796;
$turquise: #37dcc8;
$white: #fff;
$black: #000;

$bakedben: #C66E04;
$pinkShock: #F9006C;
$starOpal: #DA02FD;
$chuva: #4B0DF4;
$purple: #713D7F;
$white: #fff;
$black: #000;

$earth: #5D4543;
$opalCasing: #796754;
$oldFashined: #79C3AF;
$sharpOpal: #83E3E0;
$shimmeringOpal: #ADFBF1;
$white: #fff;
$black: #000;


$outerSpace: #323c3c;
$towerGray: #aabebe;
$caribbeanGreen: #00d796;
$turquise: #37dcc8;
$white: #fff !default;
$black: #000 !default;
